<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAZZUP??</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form action="{% url "analyze-data" %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <h4>
                        <label>
                            Sum
                            <input type="checkbox" value="{{ functions.sum }}" name="functions">

                        </label>
                    </h4>
                    <label>Sum for...</label><br>
                    {% for group in groups.numbers %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ group }}" name="{{ functions.sum }}_headers">
                                {{ group }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <h4>
                        <label>
                            Occurrences
                            <input type="checkbox" value="{{ functions.occur }}" name="functions">

                        </label>
                    </h4>
                    <label>Occurrences for...</label><br>
                    {% for header in headers %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ header }}" name="{{ functions.occur }}_headers">
                                {{ header }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Maximum value
                                    <input type="checkbox" value="{{ functions.amax }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Value headers</label><br>
                            {% for group in groups.numbers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ group }}" name="{{ functions.amax }}_headers">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <label>Info headers</label><br>
                            {% for header in headers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ header }}"
                                               name="{{ functions.amax }}_info_headers">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Minimum value
                                    <input type="checkbox" value="{{ functions.amin }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Value headers</label>
                            {% for group in groups.numbers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ group }}" name="{{ functions.amin }}_headers">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <label>Info headers</label>
                            {% for header in headers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ header }}"
                                               name="{{ functions.amin }}_info_headers">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Median
                                    <input type="checkbox" value="{{ functions.med_for }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Value headers</label>
                            {% for group in groups.numbers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ group }}"
                                               name="{{ functions.med_for }}_headers">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <label>Group by</label><br>
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}"
                                               name="{{ functions.med_for }}_group_by">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Average for
                                    <input type="checkbox" value="{{ functions.avg_for }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Value headers</label><br>
                            {% for group in groups.numbers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ group }}"
                                               name="{{ functions.avg_for }}_headers">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <label>Group by</label><br>
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}"
                                               name="{{ functions.avg_for }}_group_by">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Average total
                                    <input type="checkbox" value="{{ functions.avg }}" name="functions"></label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Value headers</label><br>
                            {% for group in groups.numbers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ group }}" name="{{ functions.avg }}_headers">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Bar chart
                                    <input type="checkbox" value="{{ functions.bar }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>What do you want to compare? (count)</label><br>
                            {% for header in headers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ header }}" name="{{ functions.bar }}_headers">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Bar chart (SUM)
                                    <input type="checkbox" value="{{ functions.bar_sum }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Sum of ...</label><br>
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}"
                                               name="{{ functions.bar_sum }}_header">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <label>Group by</label><br>
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}"
                                               name="{{ functions.bar_sum }}_group_by">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
                <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Donut chart (COUNT)
                                    <input type="checkbox" value="{{ functions.pie }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Count of...</label><br>
                            {% for header in headers %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ header }}"
                                               name="{{ functions.pie }}_headers">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Histogram

                                    <input type="checkbox" value="{{ functions.hist }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.hist }}_label">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}" name="{{ functions.hist }}_value">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Scatter plot

                                    <input type="checkbox" value="{{ functions.scatter }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.scatter }}_x">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.scatter }}_y">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Scatter plot (grouped)

                                    <input type="checkbox" value="{{ functions.scatter_group }}" name="functions">
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.scatter_group }}_x">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.scatter_group }}_y">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}" name="{{ functions.scatter_group }}_by">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Line chart

                                    <input type="checkbox" value="{{ functions.line }}" name="functions">
                                </label>
                                <p><b>NOTE:</b> it is expected that the data on the y-coordinate is already summed up in your dataset</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.line }}_x">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.line }}_y">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <label>Line chart multi

                                    <input type="checkbox" value="{{ functions.line_multi }}" name="functions">
                                </label>
                                <p><b>NOTE:</b> it is expected that the data on the y-coordinate is already summed up in your dataset</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.line_multi }}_x">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            {% for group in groups.numbers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ group }}" name="{{ functions.line_multi }}_y">
                                        {{ group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            {% for header in headers %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{ header }}" name="{{ functions.line_multi }}_group">
                                        {{ header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <input type="submit" value="Submit" class="btn btn-success"/>
            </div>
        </div>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>
</body>
</html>