<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
            rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Data</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="d-flex flex-nowrap">
            <div class="col-sm-6">
                {% if results.amax %}
                    <h3>Amax info</h3>
                    {% for obj in results.amax %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for key, val in obj.info_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.amin %}
                    <h3>Amin info</h3>
                    {% for obj in results.amin %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for key, val in obj.info_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.med_for %}
                    <h3>Median info</h3>
                    {% for obj in results.med_for %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for key, val in obj.info_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.avg_for %}
                    <h3>Average for...</h3>
                    {% for obj in results.avg_for %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for key, val in obj.info_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.avg %}
                    <h3>Average total</h3>
                    {% for obj in results.avg %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.sum %}
                    <h3>Sum</h3>
                    {% for obj in results.sum %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if results.occur %}
                    <h3>Occurrences</h3>
                    {% for obj in results.occur %}
                        {% for key, val in obj.info_headers.items %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>{{ key }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% for key, val in obj.value_headers.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ key }}:
                                </div>
                                <div class="col-sm-6">
                                    {{ val }}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if results.bar %}
                <h3>Bar chart (COUNT)</h3>
                {% for bar in results.bar %}
                    {{ bar.div | safe }}
                    {{ bar.script | safe }}
                {% endfor %}
                <hr>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if results.bar_sum %}
                <h3>Bar chart (SUM)</h3>
                {% for bar in results.bar_sum %}
                    {{ bar.div | safe }}
                    {{ bar.script | safe }}
                {% endfor %}
                <hr>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if results.hist %}
                {% for hist in results.hist %}
                    {{ hist.div | safe }}
                    {{ hist.script | safe }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if results.donut %}
                {% for donut in results.donut %}
                    {{ donut.html|safe}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>
</body>

</html>