<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAZZUP??</title>
</head>
<body>
<h1>Upload complete</h1>
<ul>
    {% for header in selected %}
        <li>{{ header }}</li>
    {% endfor %}
</ul>
<form action="{% url "analyze-data" %}" method="POST">
{% csrf_token %}
    <label>Maximum value</label>
    <input type="checkbox" value="{{ functions.amax }}" name="functions"><br>
    <label>Value headers</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="checkbox" value="{{header}}" name="{{ functions.amax }}_headers"><br>
    {% endfor %}
<br>
    <label>Info headers</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="checkbox" value="{{header}}" name="{{ functions.amax }}_info_headers"><br>
    {% endfor %}
<hr>
    <label>Minimum value</label>
    <input type="checkbox" value="{{ functions.amin }}" name="functions"><br>
    <label>Value headers</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="checkbox" value="{{header}}" name="{{ functions.amin }}_headers"><br>
    {% endfor %}
<br>
    <label>Info headers</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="checkbox" value="{{header}}" name="{{ functions.amin }}_info_headers"><br>
    {% endfor %}
<hr>
    <label>Median</label><br>
    <input type="checkbox" value="{{ functions.med }}" name="functions"><br>
    <label>Value headers</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="checkbox" value="{{header}}" name="{{ functions.med }}_headers"><br>
    {% endfor %}
<br>
    <label>Group by</label>
    {% for header in headers %}
        <label for="">{{ header }}</label>
        <input type="radio" value="{{header}}" name="{{ functions.med }}_group_by"><br>
    {% endfor %}
<hr>
<label>Bar chart</label>

<input type="checkbox" value="{{ functions.bar }}" name="functions">
{% for header in headers %}
    <label>{{ header }}</label>
    <input type="radio" value="{{ header }}" name="{{ functions.bar }}_header">
{% endfor %}

<hr>

<label>Histogram</label>

<input type="checkbox" value="{{ functions.hist }}" name="functions">
{% for header in headers %}
    <label>{{ header }}</label>
    <input type="radio" value="{{ header }}" name="{{ functions.hist }}_label">
{% endfor %}
{% for header in headers %}
    <label>{{ header }}</label>
    <input type="radio" value="{{ header }}" name="{{ functions.hist }}_value">
{% endfor %}
    {{ form.errors }}
    {{ form.non_field_errors }}
<input type="submit" value="Submit" />
</form>


</body>
</html>