<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>Data</title>
</head>

<body>
<h3>Amax info</h3>
{{ results.amax }}
{% for max_result in results.amax %}
    {% for info in max_result.info_headers %}
        {{ info }}<br>
    {% endfor %}
{% endfor %}
    <hr>
    {{ results.bar.div | safe}}
    {{ results.bar.script | safe }}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
</body>

</html>