<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
            rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Data</title>
</head>

<body>
<h3>Amax info</h3>
{% for obj in results.amax %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    {% for key, val in obj.info_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
<hr>
<h3>Amin info</h3>
{% for obj in results.amin %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    {% for key, val in obj.info_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
<h3>Median info</h3>
{% for obj in results.med_for %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    {% for key, val in obj.info_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
<h3>"Average for" info</h3>
{% for obj in results.avg_for %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    {% for key, val in obj.info_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
<h3>"Average total" info</h3>
{% for obj in results.avg %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
<h3>Sum</h3>
{% for obj in results.sum %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
{% for obj in results.occur %}
    {% for key, val in obj.info_headers.items %}
        <br>{{ key }}
    {% endfor %}
    {% for key, val in obj.value_headers.items %}
        <br>{{ key }}
        <br>{{ val }}
    {% endfor %}
    <hr>
{% endfor %}
{% for bar in results.bar %}
    {{ bar.div | safe }}
    {{ bar.script | safe }}
{% endfor %}
<hr>
{% for hist in results.hist %}
    {{ hist.div | safe }}
    {{ hist.script | safe }}
{% endfor %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>